<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Formulário de Projeto</title>

    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>
  <body>
    <h1>Formulário de Projeto</h1>
    <form th:object="${projeto}" th:action="@{/projetos/novo}" method="post">
      <div class="row">
        <div class="input-field col s12">
          <input
            type="text"
            id="nome"
            th:field="*{nome}"
            class="validate"
            required
          />
          <label for="nome">Nome</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input
            type="date"
            id="dataInicio"
            th:field="*{dataInicio}"
            class="validate"
            required
          />
          <label for="dataInicio">Data de Início</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input
            type="text"
            id="gerenteResponsavel"
            th:field="*{gerenteResponsavel}"
            class="validate"
            required
          />
          <label for="gerenteResponsavel">Gerente Responsável</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input
            type="date"
            id="previsaoTermino"
            th:field="*{previsaoTermino}"
            class="validate"
          />
          <label for="previsaoTermino">Previsão de Término</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input
            type="date"
            id="dataRealTermino"
            th:field="*{dataRealTermino}"
            class="validate"
          />
          <label for="dataRealTermino">Data Real de Término</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input
            type="text"
            id="orcamentoTotal"
            th:field="*{orcamentoTotal}"
            class="validate"
          />
          <label for="orcamentoTotal">Orçamento Total</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea
            id="descricao"
            th:field="*{descricao}"
            class="materialize-textarea"
          ></textarea>
          <label for="descricao">Descrição</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <select id="status" th:field="*{status}">
            <option value="EM_ANDAMENTO">Em Andamento</option>
            <option value="CONCLUIDO">Concluído</option>
          </select>
          <label for="status">Status</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <button type="submit" class="waves-effect waves-light btn">
            Salvar
          </button>
          <a
            th:href="@{/projetos/}"
            class="waves-effect waves-light btn btn-cancelar"
            >Cancelar</a
          >
        </div>
      </div>
    </form>
  </body>
</html>
